.btn {
  margin: 0 2px;
  padding: .4rem 1.2rem;
  background-color: #fff;
  border: 1px solid #a5d6a7;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #333;

  &__primary {
    background-color: #a5d6a7;
    border-color: #a5d6a7;
    color: #fff;
  }
  &__secondary {
    background-color: #bcaaa4;
    border-color: #bcaaa4;
    color: #fff;
  }

  &__label {
    display: inline-block;
    font-size: 1.4rem;
  }
}

.button-area {
  :first-child {
    margin-left: 0;
  }
  :last-child {
    margin-right: 0;
  }
}
